/* タブレット向けレイアウト */
@media all and (max-width: 1140px) {
  .header-left {
    font-size: 18px;}
  .header-right {
    font-size: 18px; }
  .header-right a {
    padding: 0 10px; }
  .top-wrapper h1 {
    font-size: 40px;
    letter-spacing: 4px;}
  .share p {
    font-size: 10px;}
  .author {
    font-size: 12px;}
  .sentence {
    display: none;}
}
/* スマホ向けレイアウト */
@media all and (max-width: 510px) {
   .header-right a {
     width: 25%;}
   .header-right {
     font-size: 13px; }
  .top-wrapper h1 {
    font-size: 30px;
    letter-spacing: 3px; }
  .share p {
    font-size: 8px;}
 .author {
   font-size: 10px;}
  .sentence {
    display: none;}
  .header-left {
    display: none;}
  .imagebox {
    display: none;}
  .category-box {
    width:100%;}
}
