body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN"; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

.clear {
  clear: left; }

header {
  height: 90px;
  width: 100%;
  background-color: rgba(51, 255, 153, 0.9);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 10; }

.header-left {
  float: left;
  font-size: 20px;
  line-height: 90px; }

.header-right {
  float: right;
  font-size: 20px;
  transition: all 0.5s; }

.header-right a {
  color: white;
  line-height: 90px;
  padding: 0 25px;
  display: inline-block; }

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.5); }

.container {
  width: 75%;
  padding: 0 15px;
  margin: 0 auto; }

.top-wrapper {
  background-size: cover;
  height: 500px;
  color: white;
  text-align: center;
  margin-top: 90px;
  top: 90px;
  width: 100%; }

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  letter-spacing: 5px;
  padding-top: 200px; }

.top-wrapper p {
  opacity: 0.8; }

.sea {
  background-image: url(photo0000-1984.jpg); }

.computer {
  background-image: url(computer.jpg); }

.study {
  background-image: url(study.jpg); }

.brain{
  background-image: url(brain.jpg); }

.psycho{
  background-image: url(psychology.jpg); }

.computer-text {
  color: yellow; }

.study-text {
  color: white; }

main {
  margin-bottom: 20px; }

.maincontainer {
  width: 100%;
  float: left;
  padding: 0 30px 0 10px; }

.subtitle {
  width: 100%;
  border: 2px solid #dddddd;
  border-radius: 6px;
  background-color: white;
  text-align: center;
  margin: 20px 0; }

.subtitle h1 {
  padding-top: 10px;
  margin: 0; }

.subtitle p {
  text-align: right;
  padding-right: 10px;
  margin: 0; }

.article {
  border: 2px solid #dddddd;
  border-radius: 6px;
  background-color: white; }

.maintext {
  text-align: left;
  margin-top: 10px;
  padding: 0 10px; }

.attention {
  font-size: 2px; }

.noticeb {
  color: blue; }

.noticer {
  color: red; }

.example {
  border-left: 5px solid black; }

.homelink {
  margin: 30px 0;
  text-align: center; }

.homelink a {
  margin: 0 30px; }

.top-box {
  border: 2px solid #dddddd;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: white; }

.introduction {
  float: left;
  width: 100%; }

.introduction a {
  height: 80%;
  padding: 30px 30px 10px 30px;
  margin: 0;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
  display: block; }

.introduction p {
  height: 20%;
  margin: 0;
  padding: 3px 0 10px 30px; }

.category-list {
  text-align: center; }

.category-box {
  float: left;
  width: 20%;
  height: auto;
  position: relative;
  text-align: center; }

.category-box img {
  width: 100%;
  height: auto;
  border-radius: 50%; }

.category-box h3 {
  font-family: "Courier New";
  letter-spacing: 5px;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 10; }

.share {
  width: 100%;
  padding: 10px 0px 10px 10px;
  float: left;
  text-align: center; }

.share p {
  font-size: 5px; }

.share i {
  margin: 0 auto; }

.facebook {
  background-color: #1e3261; }

.facebook:hover {
  background-color: rgba(30, 50, 97, 0.5); }

.twitter {
  background-color: #00aced; }

.twitter:hover {
  background-color: rgba(0, 172, 237, 0.5); }

.line {
  background-color: #5ae628; }

.line:hover {
  background-color: rgba(90, 230, 40, 0.5); }

.pocket {
  background-color: #ef4056; }

.pocket:hover {
  background-color: rgba(239, 64, 86, 0.5); }

.btn {
  width: 30px;
  height: 30px;
  color: white;
  display: inline-block;
  padding-top: 8px;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px #000000;
  transition: all 0.5s; }

.btn:active {
  position: relative;
  top: 2px;
  box-shadow: none; }

footer {
  height: 50px;
  width: 100%;
  border-top: 1px solid #dddddd; }

.footer-left {
  float: left;
  font-size: 15px;
  line-height: 50px; }

.footer-right {
  float: right;
  transition: all 0.5s; }

.footer-right a {
  color: #33ff99;
  line-height: 50px;
  padding: 0 25px;
  display: inline; }

.footer-right a:hover {
  color: rgba(51, 255, 153, 0.5); }

/*# sourceMappingURL=stylesheet.css.map */
/*# sourceMappingURL=stylesheet.scss.map */

/*# sourceMappingURL=stylesheet.css.map */
